<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta http-equiv="Content-Language" content="zh-tw">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="google-site-verification" content="oP5AjoCz_SS0W6OeLiynUxpE7hnFdhWVZ6zDxRiJQqY">
    <meta name="robots" content="index,follow">
<% if (article.tags.length) { -%>
    <meta name="keywords" content="<%- article.tags.join(',') %>">
<% }
   if (article.description) { -%>
    <meta name="description" content="<%- article.description %>">
<% } -%>
    <meta property="og:url" content="<%= article.$.href %>">
    <meta property="og:title" content="<%= article.title %> – OA Wu">
<% if (article.description) { -%>
    <meta property="og:description" content="<%- article.description %>">
<% } -%>
    <meta property="og:site_name" content="OA Wu">
    <meta property="fb:admins" content="100000100541088">
    <meta property="fb:app_id" content="1033322433418965">
    <meta property="og:locale" content="zh_TW">
    <meta property="og:type" content="article">
    <meta property="article:author" content="https://www.facebook.com/oawu.tw">
    <meta property="article:publisher" content="https://www.facebook.com/oawu.tw">
<% if (article.$.cover) { -%>
    <meta property="og:image" content="<%= article.$.cover.url %>">
    <meta property="og:image:type" content="image/<%= article.$.cover.ext %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
<% } -%>

    <title><%= article.title %> – OA Wu</title>

    <link rel="canonical" href="<%= article.$.href %>"/>
    <link rel="alternate" href="<%= article.$.href %>" hreflang="zh-Hant"/>

    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">

    <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <div id="app">

      <%- menu.replace(/(\n)/g, '$1' + ' '.repeat(6)) %>

      <%- cover.replace(/(\n)/g, '$1' + ' '.repeat(6)) %>

      <div id="main">

        <article id="article">
          <header>
            <h1><%= article.title %></h1>
<% if (article.subtitle) { -%>
            <span><%= article.subtitle %></span>
<% } -%>
          </header>

<% if (blocks) { -%>
          <section>
<% for (const block of blocks) { %>
            <%- block %>
<% } -%>
          </section>
<% } -%>
        </article>

        <%- tags.replace(/(\n)/g, '$1' + ' '.repeat(8)) %>

        <%- refs.replace(/(\n)/g, '$1' + ' '.repeat(8)) %>

        <%- prevNext.replace(/(\n)/g, '$1' + ' '.repeat(8)) %>

        <%- footer.replace(/(\n)/g, '$1' + ' '.repeat(8)) %>

        <div id="comments">
          <div class="fb-comments" width="100%" data-order-by="reverse_time" data-href="<%= article.$.href %>" data-numposts="5"></div>
        </div>
      </div>

    </div>
    <div id="fb-root"></div>
  </body>
</html>