<%
  if (['area', 'base', 'br', 'col', 'command', 'embed', 'hr', 'img', 'input', 'keygen', 'link', 'meta', 'param', 'source', 'track', 'wbr'].includes(el)) {
    if (el == 'img') { -%>
<figure<%- attr %>>
<%= ' '.repeat((index + 1) * 2) %><<%- el %><%- attr %>>
<%= ' '.repeat(index * 2) %></figure>
<%  } else {-%>
<<%- el %><%- attr %>>
<%  }
  } else if (blocks.length) {
    if (el == 'pre') { -%>
<<%- el %><%- attr %>><% if (copy) { %><label copy="<%= copy %>"></label><% }%><div><% for (const block of blocks) { %><%_ %><%- block%>-%><% } %></div></<%- el %>>
<%  } else if (format) { -%>
<<%- el %><%- attr %>>-%>
<% for (const block of blocks) { %>
<%= ' '.repeat((index + 1) * 2) %><%- block%>-%>
<% } %>
<%= ' '.repeat(index * 2) %></<%- el %>>
<%  } else { -%>
<<%- el %><%- attr %>><% for (const block of blocks) { %><%- block%>-%><% } %></<%- el %>>
<%  }-%>

<% } else {
    if (el == 'pre') { -%>
<<%- el %><%- attr %>><% if (copy) { %><label copy="<%= copy %>"></label><% }%><div><%= text %></div></<%- el %>>
<%  } else { -%>
<<%- el %><%- attr %><% if (copy) { %> copy="<%= copy %>" copy<% } %>><%= text %></<%- el %>>
<%  } -%>
<% } -%>